<div id="<%= dom_id calorie %>">


  <p>
    <strong>Calories number:</strong>
    <%= calorie.calories_number %>
  </p>

  <p>

    <%= calorie.is_burned_or_consumed? %>
  </p>

  <p>
    <strong>Doing what:</strong>
    <%= calorie.doing_what %>
  </p>

</div>
