<div class="d-flex row mt-5 justify-content-center">
    <div class="col-auto text-center">
        <h1>CaloriesApp <i class="bi bi-clipboard2-heart-fill"></i><i class="bi bi-universal-access"></i></h1>
    </div>
    <p >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro error molestias, molestiae id natus eius necessitatibus odit cumque architecto quod exercitationem consequuntur corporis magni veritatis quam quidem nulla optio a. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta placeat nisi necessitatibus expedita eligendi vel quis sapiente impedit unde, fugiat aliquid sed quam laboriosam! Dolorum error pariatur maiores sint reiciendis?</p>
</div>

