<div class="mt-5 vh-100 row justify-content-center align-items-center">
    <div class="col-auto text-center">
        <h1>CaloriesApp <i class="bi bi-clipboard2-heart-fill"></i><i class="bi bi-universal-access"></i></h1>
    </div>
</div>


